# Spring Boot
SERVER_ADDRESS=0.0.0.0
SERVER_PORT=8080

# MySQL
DB_HOST=mysql
DB_PORT=3306
DB_NAME=verbal_test
DB_USERNAME=verbal
DB_PASSWORD=CHANGE_ME

# CORS
ALLOWED_ORIGINS=https://verbal.pmsjl.com
